.card-donation {
  border: 2px solid var(--fb-color-primary);
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  padding: 10px 15px;
  width: 100%;
  cursor: pointer;
}

.card-donation p {
  color: var(--fb-color-secondary);
}

.card-donation-data h3 {
  color: var(--fb-color-primary);
}

.card-donation-address p {
  text-align: center;
}

.card-donation:hover {
  background-color: var(--fb-color-primary);
  & h3,
  p {
    color: var(--fb-color-quartiary);
  }
}

@media (max-width: 576px) {
  .card-donation {
    padding: 10px;
  }
  .card-donation p {
    max-width: 180px;
    word-wrap: break-word;
  }
}
