.donations-collecteds-title h3 {
  margin-top: 10px;
  text-align: center;
  font-size: 28px;
  text-transform: uppercase;
  color: var(--fb-color-tertiary);
  & span {
    color: var(--fb-color-primary);
  }
}
