#user-details-page {
  padding: 0 20px;
  height: 90vh;
}

.user-details-content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
  min-height: 600px;
}

.card-user-details {
  padding: 20px;
  border: 2px solid var(--fb-color-primary);
  border-radius: 20px;
  width: 80%;
  max-width: 600px;
}

.card-user-details-header {
  margin-bottom: 10px;
}

.card-user-details h3 {
  text-align: center;
  text-transform: uppercase;
  color: var(--fb-color-primary);
  font-size: 28px;
  margin-bottom: 10px;
}

.card-user-details-header p {
  color: var(--fb-color-secondary);
  font-size: 18px;
}

.card-user-details-colaboration {
  display: flex;
  justify-content: space-around;
}

.card-user-details-donations,
.card-user-details-delivery {
  display: flex;
  gap: 10px;
  font-size: 18px;
  & h4 {
    color: var(--fb-color-primary);
  }
  & p {
    color: var(--fb-color-secondary);
  }
}
