#user-details-page {
  margin: 20px 0;
  padding: 0 20px;
}

#user-details-page h2,
#section-donations h2 {
  font-size: 28px;
  text-align: center;
  color: var(--fb-color-tertiary);
  text-transform: uppercase;
  & span {
    color: var(--fb-color-primary);
  }
}

.card-user-details-links {
  display: flex;
  justify-content: space-between;
}

.card-user-details {
  padding: 20px;
  border: 2px solid var(--fb-color-primary);
  border-radius: 20px;
  width: 80%;
  max-width: 600px;
  margin: 0 auto;
}

.card-user-details-header {
  margin-bottom: 10px;
}

.card-user-details h3 {
  text-align: center;
  text-transform: uppercase;
  color: var(--fb-color-primary);
  font-size: 26px;
  margin-bottom: 10px;
}

.card-user-details-header p {
  color: var(--fb-color-secondary);
  font-size: 18px;
}

.card-user-details-colaboration {
  display: flex;
  justify-content: space-around;
}

.card-user-details-donations,
.card-user-details-delivery {
  display: flex;
  gap: 10px;
  font-size: 18px;
  & h4 {
    color: var(--fb-color-primary);
  }
  & p {
    color: var(--fb-color-secondary);
  }
}

.card-user-details a {
  border: 2px solid var(--fb-color-primary);
  padding: 5px;
  color: var(--fb-color-primary);
  border-radius: 20px;
}

#section-donations {
  padding: 0 20px;
}

.donations-plus-btn {
  display: flex;
  justify-content: end;
}

.donations-plus-btn a {
  padding: 5px 15px;
  font-size: 18px;
  background-color: var(--fb-color-primary);
  color: var(--fb-color-quartiary);
  border-radius: 20px;
}

.donations-options-navegation {
  display: flex;
  justify-content: space-evenly;
}

.donations-options-navegation a {
  border: 2px solid var(--fb-color-primary);
  padding: 10px;
  color: var(--fb-color-primary);
  border-radius: 30px;
}

.donations-option-navegation-active {
  background-color: var(--fb-color-primary);
  color: var(--fb-color-quartiary);
  & p {
    color: var(--fb-color-quartiary);
  }
}

.my-donations-title h3 {
  text-align: center;
  text-transform: uppercase;
  font-size: 24px;
  color: var(--fb-color-tertiary);
  & span {
    color: var(--fb-color-primary);
  }
}
