.card-how-help-item {
  padding: 20px 28px 30px 28px;
  height: 395px;
  width: 350px;
  border: 2px solid var(--fb-color-border-gray);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.card-how-help-item-img img {
  height: 70px;
  width: 90px;
}
.card-how-help-item-description {
  text-align: center;
  margin-bottom: 5px;
}

.card-how-help-item-description h3 {
  color: var(--fb-color-tertiary);
  font-size: 22px;
  margin-bottom: 5px;
}

.card-how-help-item-description p {
  color: var(--fb-color-secondary);
  font-size: 16px;
}

.card-how-help-item-read-more-invite a {
  padding: 5px;
  border: 2px solid var(--fb-color-primary);
  color: var(--fb-color-primary);
  border-radius: 10px;
  font-size: 18px;
}

@media (max-width: 400px) {
  .card-how-help-item {
    padding: 20px 20px 30px 20px;
    gap: 10px;
    height: auto;
    width: auto;
  }
}

@media (max-width: 350px) {

}
