.card-donation-details {
  border: 2px solid var(--fb-color-primary);
  padding: 20px;
  border-radius: 20px;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

.card-donation-details h3 {
  font-size: 24px;
  color: var(--fb-color-primary);
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.card-donation-details p {
  color: var(--fb-color-secondary);
  font-size: 18px;
}

.card-donation-details h4 {
  font-size: 20px;

  color: var(--fb-color-tertiary);
}

.card-donation-details-top a {
  padding: 5px;
  border: 2px solid var(--fb-color-primary);
  border-radius: 20px;
  color: var(--fb-color-primary);
}

.card-donation-details-links-bottom {
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
  gap: 20px;
  flex-wrap: wrap;
}

.card-donation-details-colect button,
.card-donation-details-contact a {
  cursor: pointer;
  border: none;
  padding: 5px;
  font-size: 18px;
  background-color: var(--fb-color-primary);
  text-align: center;
  border-radius: 10px;
  color: var(--fb-color-quartiary);
  display: block;
  width: 200px;
}
