.card-donation-details {
  border: 2px solid var(--fb-color-primary);
  padding: 20px;
  border-radius: 20px;
  max-width: 600px;
  margin: 0 auto;
}

.card-donation-details h3 {
  font-size: 24px;
  color: var(--fb-color-primary);
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.card-donation-details p {
  color: var(--fb-color-secondary);
  font-size: 18px;
}