#recovery-password-section {
  height: 60vh;
  display: flex;
  align-items: center;
  max-height: 800px;
  min-height: 280px;
}

.card-recovery-password {
  margin-top: 20px;
  padding: 40px;
  border: 2px solid var(--fb-color-primary);
  border-radius: 20px;
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card-recovery-password h2 {
  text-align: center;
  color: var(--fb-color-tertiary);
  text-transform: uppercase;
}

.card-recovery-password form {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.card-recovery-password form input {
  outline: none;
  padding: 5px 10px;
  font-size: 18px;
  border-radius: 10px;
  border: 2px solid var(--fb-color-primary);
  width: 100%;
}

.card-recovery-password form button {
  background-color: var(--fb-color-primary);
  border: none;
  padding: 5px;
  font-size: 18px;
  border-radius: 20px;
  color: var(--fb-color-quartiary);
  text-transform: uppercase;
  cursor: pointer;
  margin: 10px 0;
  font-weight: 600;
  margin-top: 20px;
}

.password-changed {
  text-align: center;
}

.card-recovery-password a {
  text-align: center;
  background-color: var(--fb-color-primary);
  color: var(--fb-color-quartiary);
  border-radius: 15px;
  padding: 8px 10px;
}

.recover-password-loading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.recover-password-loading img {
  height: 80px;
  width: 80px;
}

.recover-password-loading p {
  color: var(--fb-color-tertiary);
}
