.donation-details-page-content {
  display: flex;
  align-items: center;
  min-height: 500px;
}

.donation-register-loading {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.donation-register-loading p {
  color: var(--fb-color-teriary);
}

.donation-register-loading img {
  width: 80px;
  height: 80px;
}