@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

:root {
  --fb-color-primary: #3a40d8;
  --fb-color-secondary: #5A5A5A;
  --fb-color-tertiary: #bb2020;
  --fb-color-quartiary: #fff
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", serif;
}

.container {
  width: 100%;
  max-width: 1120px;
  margin: 0 auto;
}

a,
a:hover {
  text-decoration: none;
  color: unset;
}


ul {
  list-style: none;
}
