@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

:root {
  ---fb-color-primary: #e9e1b0;
  --fb-color-secondary: #e62828;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", serif;
}

.container {
  width: 100%;
  max-width: 1120px;
  margin: 0 auto;
}

a,
a:hover {
  text-decoration: none;
  color: unset;
}

html,
body {
  background-color: #ebe7ce;
}
