@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

:root {
  --fb-color-primary: #3a40d8;
  --fb-color-secondary: #5a5a5a;
  --fb-color-tertiary: #2a2a2a;
  --fb-color-quartiary: #fff;

  --fb-color-bg-primary: #eeeafc;

  --fb-color-border-gray: #d0d0d0;
  --fb-error-form: #b11717;

  --fb-color-bg-semiblack: #18181893;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", serif;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

html,
body,
#root {
  height: 100%;
}

main {
  padding: 0 20px;
  margin-bottom: 10px;
  flex: 1;
}

.container {
  width: 100%;
  max-width: 1120px;
  margin: 0 auto;
}

a,
a:hover {
  text-decoration: none;
  color: unset;
}

ul {
  list-style: none;
}

input {
  outline: none;
}
button {
  background-color: transparent;
  cursor: pointer;
}

header nav {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form-error {
  color: var(--fb-error-form);
  font-size: 14px;
  padding-left: 4px;
  display: none;
}

.form-item-input [data-dirty="true"][data-invalid="true"] {
  border: 2px solid var(--fb-error-form);
}

.form-item-input [data-dirty="true"][data-invalid="true"] ~ div {
  display: unset;
}

.form-global-error {
  border-radius: 5px;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 5px 10px;
  color: var(--fb-error-form);
}