.card-my-donation {
  border: 2px solid var(--fb-color-primary);
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  padding: 10px 15px;
  width: 100%;
  max-width: 900px;
  margin-bottom: 10px;
}

.card-my-donation-data h3 {
  color: var(--fb-color-primary);
}

.card-my-donation-icons {
  display: flex;
  align-items: center;
  gap: 20px;
}

.card-my-donation-icon-item img {
  height: 30px;
  width: 30px;
  display: block;
  margin: 0 auto;
}

.card-my-donation-icon-item {
  cursor: pointer;
}

.card-my-donation-loading img {
  height: 40px;
  width: 40px;
}

@media (max-width: 600px) {
  .card-my-donation p {
    max-width: 220px;
    word-wrap: break-word;
  }
}

@media (max-width: 490px) {
  .card-my-donation {
    padding: 5px 10px;
  }
  .card-my-donation p {
    max-width: 180px;
    word-wrap: break-word;
  }
}

@media (max-width: 380px) {
  .card-my-donation p {
    max-width: 120px;
    word-wrap: break-word;
  }
}
