.card-my-donation {
  margin-top: 10px;
  border: 2px solid var(--fb-color-primary);
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  padding: 10px 15px;
  height: 90px;
}

.card-my-donation-data h3 {
  color: var(--fb-color-primary);
}

.card-my-donation p {
  color: var(--fb-color-secondary);
}
