.card-my-donation {
  margin-top: 10px;
  border: 2px solid var(--fb-color-primary);
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  padding: 10px 15px;
  height: 90px;
}

.card-my-donation-data h3 {
  color: var(--fb-color-primary);
}

.card-my-donation p {
  color: var(--fb-color-secondary);
}

.card-my-donation-icons {
  display: flex;
  align-items: center;
  gap: 20px;
}

.card-my-donation-icon-item img {
  height: 30px;
  width: 30px;
  display: block;
  margin: 0 auto;
}

.card-my-donation-icon-item {
  cursor: pointer;
}
