#section-register-page {
  height: 70vh;
  height: 100%;
  padding: 10px 0;
}

.register-page-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.card-register {
  margin: 20px auto;
  padding: 10px 20px 7px 20px;
  border: 2px solid var(--fb-color-primary);
  color: var(--fb-color-quartiary);
  border-radius: 20px;
  width: 100%;
  max-width: 800px;
  overflow: auto;
  min-height: 300px;
  display: flex;
  flex-direction: column;
}

.register-page-content h2 {
  text-align: center;
  text-transform: uppercase;
  font-size: 30px;
  color: var(--fb-color-tertiary);
}

.card-register form {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.form-item-input {
  display: flex;
  flex-direction: column;
}

.card-register form {
  color: var(--fb-color-secondary);
}

.card-register input {
  border: 2px solid var(--fb-color-primary);
  outline: none;
  padding: 5px 10px;
  font-size: 18px;
  border-radius: 10px;
}

.card-register label {
  font-size: 18px;
}

.card-register form button {
  background-color: var(--fb-color-primary);
  border: none;
  padding: 5px;
  font-size: 18px;
  border-radius: 20px;
  font-weight: 600;
  color: var(--fb-color-quartiary);
  text-transform: uppercase;
  cursor: pointer;
  margin: 10px 0;
}

.card-register-loading {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card-register-loading p {
  color: var(--fb-color-tertiary);
}

.card-register-loading img {
  width: 80px;
  height: 80px;
}

@media (max-width: 718px) {
  #section-register-page {
    padding: 20px 0;
  }
}
@media (max-width: 400px) {
  .card-register {
    width: 100%;
  }
}
