#section-register-page {
  padding: 0 20px;
}

.register-page-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-register {
  margin: 0 auto 10px auto;
  padding: 10px 20px 7px 20px;
  border: 2px solid var(--fb-color-primary);
  color: var(--fb-color-quartiary);
  border-radius: 20px;
  width: 80%;
  max-width: 800px;
  overflow: auto;
}

.register-page-content h2 {
  text-align: center;
  text-transform: uppercase;
  font-size: 30px;
  color: var(--fb-color-tertiary);
}

.card-register form {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.form-item-input {
  display: flex;
  flex-direction: column;
}

.card-register form {
  color: var(--fb-color-secondary);
}

.card-register input {
  border: 2px solid var(--fb-color-primary);
  outline: none;
  padding: 5px 10px;
  font-size: 18px;
  border-radius: 10px;
}

.card-register label {
  font-size: 18px;
}

.card-register form button {
  background-color: var(--fb-color-primary);
  border: none;
  padding: 5px;
  font-size: 18px;
  border-radius: 20px;
  font-weight: 600;
  color: var(--fb-color-quartiary);
  text-transform: uppercase;
  cursor: pointer;
  margin: 10px 0;
}

@media (max-width: 576px) {
  .card-register {
    width: 90%;
  }
}

@media (max-width: 400px) {
  .card-register {
    width: 100%;
  }
}
