#section-register-page {
  padding: 0 20px;
}

.register-page-content {
  height: 80vh;
  min-height: 650px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-register {
  margin: 20px auto;
  padding: 40px;
  border: 2px solid var(--fb-color-primary);
  color: var(--fb-color-quartiary);
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px 35px 30px 35px;
  border-radius: 20px;
  width: 80%;
  max-width: 600px;
  max-height: 620px;
  overflow: auto;
}

.register-page-content h2 {
  text-align: center;
  text-transform: uppercase;
  font-size: 32px;
  color: var(--fb-color-tertiary);
}

.card-register form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form-item-input {
  display: flex;
  flex-direction: column;
}

.card-register form {
  color: var(--fb-color-secondary);
}

.card-register input {
  border: 2px solid var(--fb-color-primary);
  outline: none;
  padding: 5px 10px;
  font-size: 18px;
  border-radius: 10px;
}

.card-register label {
  font-size: 18px;
}

.card-register form button {
  background-color: var(--fb-color-primary);
  border: none;
  padding: 5px;
  font-size: 18px;
  border-radius: 20px;
  font-weight: 600;
  color: var(--fb-color-quartiary);
  text-transform: uppercase;
  cursor: pointer;
  margin: 10px 0;
}
