#section-home-community {
  padding: 0 20px;
}

.home-community-content {
  height: 80vh;
}

.home-community-welcome h2 {
  font-size: 24px;
  color: var(--fb-color-primary);
  text-align: center;
  margin-bottom: 20px;
}

.home-community-search-location {
  display: flex;
  gap: 5px;
}

.home-community-search-location h3 {
  color: var(--fb-color-secondary);
}

.home-community-donations-list {
  max-height: 75vh;
  overflow-y: auto;
}

.home-community-donations-header {
  display: flex;
  justify-content: space-between;
}

.home-community-invite-donation a {
  background-color: var(--fb-color-primary);
  color: var(--fb-color-quartiary);
  padding: 4px;
  border-radius: 10px;
  font-size: 18px;
}
