#section-home-community {
  padding: 0 20px 20px 20px;
}

.home-community-donations-list .zero-donations,
.home-community-donations-list .donations-search-loading {
  text-align: center;
  margin-top: 10px;
}

.home-community-donations-list {
  margin-bottom: 10px;
}

.home-community-welcome h2 {
  font-size: 24px;
  color: var(--fb-color-primary);
  text-align: center;
  margin-bottom: 20px;
}

.home-community-search-location {
  text-align: center;
  display: flex;
  gap: 5px;
}

.home-community-search-location h3 {
  color: var(--fb-color-secondary);
}

.home-community-donations-header {
  display: flex;
  justify-content: space-between;
}

.home-community-invite-donation a {
  background-color: var(--fb-color-primary);
  color: var(--fb-color-quartiary);
  padding: 4px;
  border-radius: 10px;
  font-size: 18px;
}

.home-community-donations-list-loading {
  margin-top: 30px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-community-donations-list-loading img {
  height: 80px;
  width: 80px;
}
@media (max-width: 768px) {
  .home-community-donations-header {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .home-community-invite-donation {
    width: 100%;
    text-align: end;
  }
}
