#section-talk-to-us-page {
  padding: 0 20px;
  height: 80vh;
  max-height: 550px;
}

.talk-to-us-content h2 {
  text-align: center;
  font-size: 26px;
  color: var(--fb-color-tertiary);
  margin-bottom: 10px;
  & span {
    color: var(--fb-color-primary);
  }
}

.card-talk-to-us-contact {
  background-color: var(--fb-color-primary);
  color: var(--fb-color-quartiary);
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;
}

.card-talk-to-us-contact-item {
  text-align: center;
  margin-bottom: 5px;
}
.card-talk-to-us-contact-item h3 {
  font-size: 22px;
  text-transform: uppercase;
}

.card-talk-to-us-contact-item p {
  font-size: 18px;
}

.card-talk-to-us-cotact-icons {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.card-talk-to-us-cotact-icons a img {
  height: 35px;
  width: 35px;
}

.card-talk-to-us-send-question {
  border: 2px solid var(--fb-color-primary);
  padding: 10px 15px;
  border-radius: 5px;
  max-width: 700px;
  margin: 20px auto;
}

.card-talk-to-us-send-question h3 {
  text-align: center;
  font-size: 22px;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.card-talk-to-us-send-question form input {
  outline: none;
  padding: 10px 15px;
  border-radius: 5px;
  border: 2px solid var(--fb-color-primary);
  font-size: 18px;
  min-width: 280px;
}

.card-talk-to-us-send-question-inputs {
  display: flex;
  gap: 10px;
}

.card-talk-to-us-send-question-credentials {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.card-talk-to-us-send-question-message {
  width: 100%;
}

.card-talk-to-us-send-question-message textarea {
  border: 2px solid var(--fb-color-primary);
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 18px;
  outline: none;
  resize: none;
  height: 100%;
  width: 100%;
}

.card-talk-to-us-send-question-button-submit {
  width: 100%;
  text-align: end;
}

.card-talk-to-us-send-question form button {
  margin-top: 5px;
  background-color: var(--fb-color-primary);
  border: none;
  padding: 5px;
  font-size: 16px;
  border-radius: 10px;
  color: var(--fb-color-quartiary);
  width: 200px;
  cursor: pointer;
}

@media (max-width: 750px) {
  .card-talk-to-us-send-question-inputs {
    flex-direction: column;
    align-items: center;
  }

  .card-talk-to-us-send-question form input,
  .card-talk-to-us-send-question-message textarea {
    width: 350px;
  }

  .card-talk-to-us-send-question-message {
    display: flex;
    justify-content: center;
  }

  .card-talk-to-us-send-question-message textarea {
    height: 200px;
    margin: 0 auto;
  }

  .card-talk-to-us-send-question-button-submit {
    width: 100%;
    text-align: center;
  }

  .card-talk-to-us-send-question form button {
    margin-top: 10px;
    width: 350px;
  }

  .card-talk-to-us-send-question {
    padding: 15px;
    max-width: 400px;
  }
}

@media (max-width: 470px) {
  .card-talk-to-us-send-question form input,
  .card-talk-to-us-send-question-message textarea,
  .card-talk-to-us-send-question form button {
    width: 300px;
  }
}

@media (max-width: 400px) {
  .card-talk-to-us-send-question form input,
  .card-talk-to-us-send-question-message textarea,
  .card-talk-to-us-send-question form button {
    min-width: 0px;
    width: 250px;
  }
}

@media (max-width: 350px) {
  .card-talk-to-us-send-question form input,
  .card-talk-to-us-send-question-message textarea,
  .card-talk-to-us-send-question form button {
    min-width: 0px;
    width: 220px;
    font-size: 16px;
  }
}
